<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billettkontroll</title>
</head>
<body>
    <div class="login">
        <h1>Billettokntroll prediction</h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="linje" placeholder="Linje" required="required">
            <input type="text" name="vogn" placeholder="vogn" required="required">
            <input type="text" name="fra" placeholder="fra" required="required">
            <input type="text" name="til" placeholder="til" required="required">
            <input type="text" name="fullt" placeholder="fullt" required="required">
            <input type="text" name="dag" placeholder="dag" required="required">
            <input type="text" name="måned" placeholder="måned" required="required">
            <input type="text" name="time" placeholder="time" required="required">
            <input type="text" name="minutt" placeholder="minutt" required="required">

            <button type="submit" class="btn btn-block btn-large">Predict</button>
        </form>

        <h4 style="color:Blue;">{{ prediction_text }}</h4>
    </div>
</body>
</html>